@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap");
@import "./variables";
@import "./helpers";
@import "./global.style.scss";
@import "./home-page.scss";
@import "./header.scss";
@import "./places-card.scss";
@import "./place-to-stay.scss";
@import "./connect-wallet-modal.scss";
@import "./footer.scss";

html {
  font-family: "Red Rose", cursive;
}

.front__layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.front__layout__main {
  flex: 1;
}
