.places__card {
  //   border: 1px solid red;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 1rem;
  //   width: 292px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-inner {
    .places__img {
      position: relative;
      height: 265px;
      border: 1px solid #d7d7d7;
      border-radius: 15px;
      overflow: hidden;
    }

    .favourite__place {
      position: absolute;
      top: 5px;
      right: 10px;

      i {
        color: white;
        &:hover {
          color: $primary;
        }
      }
    }

    .rating {
      i {
        font-size: 12px;
        color: $primary;
      }
    }

    .places__desc {
      font-size: 12px;
      .stay__details {
      }
    }
  }
}
